html {
    background-color: #5d0f11e0;
}

body {
    width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.botonDiv {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton {
    width: 160px;
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #2e518b;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

div {
    text-align: center;
}

div.pie {
    font-style: italic;
}

div.cuadro {
    margin: auto;
    border: white solid 2px;
}

p {
    text-align: center;
}

p.red {
    color: red;
}

h3 {
    color: white;
    text-align: center;
}

hr.pq {
    width: 50%;
}